/* Custom Fonts */

/* Fallback to Google Fonts if local font fails to load */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
  font-family: 'Lemon Tuesday';
  src: url('/fonts/Lemon-Tuesday.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
